:root {
    /* 100vh 會將行動瀏覽器的功能列一起算進去，造成虛高。遇此情況可以 var(--doc-height) 取代。 */
    --doc-height: 100vh; /* 後備（以防瀏覽器不支援 dvh） */
    --doc-height: 100dvh;

    /* 以下是整體排版會用到的變數 */
    --header-height: 60px;
}